body {
    background-color: #383838;
}

.row {
    margin: 0;
}

.font {
    font-family: 'Athiti', sans-serif;
    font-weight: 600;
}

.size-small {
    font-size: 15px;
}

.size-medium {
    font-size: 18px;
}

.size-large {
    font-size: 22px;
}

.dark-blue {
    color: #313f4a;
}

.white {
    color:#fff;
}

.blue {
    color: #2f54eb;
}

.red {
    color: red;
}