.home {
    .card-white {
        width: 90%;
        margin: 0 auto;
        height: 250px;
        background-color: #fff;
        border-radius: 9px;
        margin-bottom: 2%;
        .row {
            box-shadow: 9px 9px 8px 1px #272727cf;
            .theater {
                border-right: 1px solid #947474;
                height: 250px;
                text-align: center;
                padding-top: 4%;
                .text {
                    text-transform: uppercase;
                    letter-spacing: 3px;
                }
            }
            .img-movie {
                width: 14%;
                padding: 0;
                img {
                    width: 169px;
                }
            }
            .detail-movie {
                width: 59%;
                margin-top: 26px;
                margin-left: 2%;
                padding: 0;
                .bar-name-movie, .sound {
                    padding: 8px 15px;
                    text-align: right;
                }
                .bar-name-movie {
                    text-transform: capitalize;
                    height: 50px;
                    letter-spacing: 1px;
                    background-color: #2d3f49;
                }
                .sound {
                    text-transform: uppercase;
                    margin-top: 7px;
                    .box-button {
                        border: 1px solid #2d3f49;
                        background-color: #2d3f49;
                        border-radius: 6px; 
                        padding: 1px 6px 1px 9px;
                    }
                }
                .round-movie {
                    padding: 8px 0;
                    display: flex;
                    flex-flow: row wrap;
                    .box-button {
                        margin-right: 10px;
                        margin-bottom: 10px;
                        .btn-secondary {
                            width: 100px;
                            color: #2d3f49;
                            background-color: unset;
                            border-color: #2d3f49;
                            font-weight: 900;
                        }
                        .btn-secondary:hover {
                            color: #fff;
                            background-color:#2d3f49;
                            border-color: #2d3f49;
                        }
                    }
                }
            }
        }
    }
}