.head-nav {
    height: 65px;
    background-color: #232323;
    color: #fff;
    box-shadow: 3px 3px 5px 6px #ccc;
    img {
        width: 18%;
    }
    .margin {
        margin-top: 8px;
    }
    .col-auto {
        padding: 0;
    }
    .text {
        color: #edb20c;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 13px 9px 0 34px;
    }
}