.show-ticket {
    .card-ticket {
        width: 60%;
        margin: 2% auto;
        background-image: url('/images/movie-card.png');
        height: auto;
        background-repeat: round;
        .name-movie {
            margin: 5% 6% 0 0;
            text-align: end;
            text-transform: capitalize;
        }
        .card-body-ticket {
            display: flex;
            flex-direction: row;
            .ticket-theater {
                width: 22%;
                text-align: center;
                padding: 2%;
                img {
                    width: 55%;
                }
                .theater-order, .seat-select {
                    text-transform: uppercase;
                }
                .theater-order {
                    letter-spacing: 1px;
                }
                .date {
                    margin: 16% 8%;
                }
            }
            .ticket-detail {
                width: 78%;
                display: flex;
                flex-direction: row;
                padding: 2.2% 0.6%;
                margin-bottom: 6px;
                .img-movie {
                    width: 20%;
                    img {
                        width: 137px;
                        height: 194px;
                    }
                }
                .detail-movie {
                    width: 80%;
                    .sound {
                        padding: 0% 6%;
                        text-align: right;
                        text-transform: uppercase;
                        margin-top: 7px;
                        .box-button {
                            border: 1px solid #2d3f49;
                            background-color: #2d3f49;
                            border-radius: 6px; 
                            padding: 1px 6px 1px 9px;
                        }
                        .margin-type-theater {
                            margin-right: 4px;
                        }
                    }
                    .seat, .theater-order {
                        text-align: right;
                        padding: 3% 6% 0;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                    .seat {
                        padding-top: 0;
                    }
                    .bar-code {
                        text-align: right;
                        padding: 2% 7%;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        img {
                            width: 264px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}